@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
}

.h {
  @apply mb-4 font-medium;
  color: rgb(70, 80, 90);
  font-family: "Poppins";
}

h1 {
  @apply h text-5xl font-semibold;
}

h2 {
  @apply h text-3xl;
}

h3 {
  @apply h text-2xl;
}

h4 {
  @apply h text-xl;
}

h5 {
  @apply h text-lg;
}

h6 {
  @apply h text-base;
}

p {
  @apply leading-relaxed font-light mb-4;
}

.ani-t {
  @apply ease-in-out duration-300;
}

.trans-ani {
  @apply transition ani-t;
}

.slider {
  @apply outline-none rounded-full w-full bg-gray-300 opacity-70 trans-ani;
  -webkit-appearance: none;
  height: 15px;
}

.slider:hover {
  @apply opacity-100;
}

.slider::-webkit-slider-thumb {
  @apply rounded-full cursor-pointer border-none outline-none appearance-none;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: #4caf50;
}

.slider::-moz-range-thumb {
  @apply rounded-full cursor-pointer bg-blue-500 border-none outline-none appearance-none;
  width: 25px;
  height: 25px;
}
